h1 {
    color:rgb(188, 218, 255);
    background-color:rgb(0, 20, 117);
    text-align: center;
}
h2 {
    color:rgb(50, 50, 188);
    background-color:rgb(209, 217, 255);
    text-align: center;
}
.mytext {
    color:cornflowerblue;
    text-align: center;
}